<ion-view view-title="Medikament hinzufügen">
    <ion-content>
        <form name="myForm">
            <h3>Medikament erfassen</h3>
            <div class="list">
                <label class="item item-input">
                    <input type="text" ng-model='medi.name' placeholder="Name">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model='medi.menge' placeholder="Menge z.B. 250">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model='medi.einheit' placeholder="Einheit z.B. mg">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model='medi.anwendungsform' placeholder="Anwendungsform z.B. Tabletten">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model='medi.packungsgroesse' placeholder="Packungsgrösse (Stk)">
                </label>
                <div class="item item-toggle">
                    Medikament Rezeptfplichtig
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model='medi.rezeptpflichtig'>
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <label class="item item-input" ng-show="medi.rezeptpflichtig == true">
                    <span class="input-label">Rezept gültig bis</span>
                    <input type="date" ng-model='medi.rezeptende'>
                </label>
                <!--Medikament terminieren-->
                <!-- selektieren der Tage -->
                <!--                 <div ng-repeat="tag in tage">
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="medi.timers.timer.tage[tag]" ng-checked="true">
                        </label>
                        {{tag}}
                    </li>
                </div> -->
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="medi.timers.tage.montag" ng-true-value="'Montag'">
                    </label>
                    Montag
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="medi.timers.tage.dienstag" ng-true-value="'Dienstag'">
                    </label>
                    Dienstag
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="medi.timers.tage.mittwoch" ng-true-value="'Mittwoch'">
                    </label>
                    Mittwoch
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="medi.timers.tage.donnerstag" ng-true-value="'Donnerstag'">
                    </label>
                    Donnerstag
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="medi.timers.tage.freitag" ng-true-value="'Freitag'">
                    </label>
                    Freitag
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="medi.timers.tage.samstag" ng-true-value="'Samstag'">
                    </label>
                    Samstag
                </li>
                <li class="item item-checkbox">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="medi.timers.tage.sonntag" ng-true-value="'Sonntag'">
                    </label>
                    Sonntag
                </li>
                <!-- auswahl der Zeiten -->
                <label class="item item-input item-select">
                    <div class="input-label">
                        Zeit
                    </div>
                    <select ng-model="medi.timers.timer.zeiten" multiple ng-options="zeit as zeit for zeit in zeiten">
                        <!-- <select ng-model="timers.zeiten" multiple ng-options="zeit.zeitE as zeit.zeitD for zeit in zeiten "> -->
                    </select>
                </label>
                <pre>Meine Zeiten = {{medi.timers.timer.zeiten}}</pre>
                <tt>Tage = {{medi.timers.tage}}</tt>
                <br/>
                <label class="item item-input">
                    <input type="text" ng-model="medi.timers.timer.menge" placeholder="Menge (z.B. 0,5)">
                </label>
                <label class="item item-input">
                    <input type="text" ng-model="medi.timers.timer.info" placeholder="Infos (z.B. nach den Mahlzeiten)">
                </label>
                <button class="button button-block button-positive" ng-click="addMedi(medi)">
                    Medikament speichern
                </button>
            </div>
        </form>
        <pre>Medi = {{medi | json}}</pre>
    </ion-content>
</ion-view>
<!-- <input type="checkbox" ng-model="timers.tage[tag.tagE]" ng-checked="true"> -->
