<ion-view hide-nav-bar="true">
    <!-- Navbar wird nicht angezeigt -->
    <ion-content class="cover">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col col-10"></div>
            <div class="col centerText">
                <h1 class="">medi timer</h1>
                <div class=""><i class="flaticon-medical4"></i></div>&nbsp;
                <h5>Willkommen bei medi timer!</h5>
                <h5>Die App wird Ihnen dabei helfen Ihre Medikamente rechtzeitig und vollständig einzunehmen.</h5>
                <p>Beginnen Sie damit ein Medikament zu erfassen, indem sie auf die Schaltfläche unten klicken.</p>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col">
                <a ng-click="goAddMedis()" class="button button-block button-balanced">Medikament hinzufügen</a>
            </div>
        </div>
    </ion-content>
</ion-view>
