<ion-view view-title="Medi Detail">
    <ion-content>
        <h1>{{medi.name}} {{medi.menge}} {{medi.einheit}}</h1>
        <!-- Medi Infos anzeigen -->
        <h3>Medi Infos</h3>
        <ul>
            <!--             <li>Menge: {{medi.menge}} {{medi.einheit}}</li>
            <li>Einheit: {{medi.einheit}}</li> -->
            <li>Anwendungsform: {{medi.anwendungsform}}</li>
            <li>Packungsgrösse: {{medi.packungsgroesse}}</li>
            <li>Rezeptpflichtig: {{medi.rezeptpflichtig}}</li>
            <li>Rezept Ablaufdatum: {{medi.rezeptende}}</li>
        </ul>
        <!-- Timer Infos anzeigen -->
        <div><!-- ng-repeat="timer in medi.timers"-->
            <ul>
                <h3>Timers</h3>
                <li>
                    <h4>Tage:</h4>
                    <ul>
                        <li ng-repeat="tag in medi.timers.tage" ng-show="{{tag}} !== false">{{tag}}</li>
                    </ul>
                </li>
                <li>
                    <h4>Zeiten:</h4>
                    <ul>
                        <li ng-repeat="zeit in medi.timers.zeiten">{{zeit}}</li>
                    </ul>
                </li>
                <li>
                    <h4>Menge: </h4>{{medi.timers.menge}}</li>
                <li>
                    <h4>Infos: </h4>{{medi.timers.info}}</li>
            </ul>
        </div>
        <br/>
        <button class="button button-block button-positive" ng-click="deleteMedi($stateParams.mediId)">delete</button>
    </ion-content>
</ion-view>
