<ion-view view-title="medi timer">
    <ion-header-bar align-title="left" class="bar-subheader bar-balanced">
        <h1 class="title">Medikamenten Liste</h1>
            <a class="button icon ion-plus" ng-click="goAddMedi()"></a>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="medi in medis" href="#/app/medis/{{medi.id}}">
                <i class="flaticon-medicine"></i>{{medi.name}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
