<ion-view view-title="Medi Detail">
    <ion-content>
        <h1>{{medi.name}}</h1>
        <ul>
            <li><h4>Einheit: </h4>{{medi.einheit}}</li>
            <li><h4>Anwendungsform: </h4>{{medi.anwendungsform}}</li>
            <li><h4>Packungsgrösse: </h4>{{medi.packungsgroesse}}</li>
            <li><h4>Rezeptpflichtig: </h4>{{medi.rezeptpflichtig}}</li>
            <li><h4>Rezept Ablaufdatum: </h4>{{medi.rezeptende}}</li>
        </ul>
        <div ng-repeat="timer in timers">
            <ul>
                <h2>Timer {{timer.id}}</h2>
                <li>
                    <h4>Tage:</h4>
                    <ul>
                        <li ng-repeat="tage in timer.tage.tageD">{{tage}}</li>
                        <!-- <li ng-repeat="tage in timer.tage">{{tage}}</li> -->
                    </ul>
                </li>
                <li>
                    <h4>Zeiten:</h4>
                    <ul>
                        <li ng-repeat="zeiten in timer.zeiten.zeitenD">{{zeiten}}</li>
                        <!-- <li ng-repeat="zeiten in timer.zeiten">{{zeiten}}</li> -->
                    </ul>
                </li>
                <li>
                    <h4>Einheit: </h4>{{timer.einheit}}</li>
                <li>
                    <h4>Infos: </h4>{{timer.infos}}</li>
            </ul>
        </div>
        <form>
            
        </form>
    </ion-content>
</ion-view>
