<ion-view view-title="Medi-Liste">
    <ion-content>
        <a href="#/app/addMedi">
            <button class="button button-block button-balanced">
                Medikament hinzufügen
            </button>
        </a>
        <ion-list>
            <ion-item ng-repeat="medi in medis" href="#/app/medis/{{medi.id}}">
                {{medi.name}}
            </ion-item>
        </ion-list>
        <p>medis slice:</p>
        {{medisSlice}}
        <br>
        <p>medis slice object</p>
        {{medisSliceObj}}
    </ion-content>
</ion-view>
