@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
/*margin-left: 20px;*/
}.flaticon-caduceus1:before {
	content: "\e000";
}
.flaticon-caduceus4:before {
	content: "\e001";
}
.flaticon-first21:before {
	content: "\e002";
}
.flaticon-hospital25:before {
	content: "\e003";
}
.flaticon-medical110:before {
	content: "\e004";
}
.flaticon-medical12:before {
	content: "\e005";
}
.flaticon-medical4:before {
	content: "\e006";
	font-size: 5em;
	color: #0C7E34;
	line-height: 0.8em;
}
.flaticon-medicine:before {
	content: "\e007";
	font-size: 2em;
	padding-right: 0.5em;
	color: #6620A6;
}
.flaticon-pill:before {
	content: "\e008";
}
.flaticon-pill11:before {
	content: "\e009";
}
