/* Empty. Add your own CSS if you like */
.bar-positive{
    color : #30393A !important; // text
    background-color:blue!important; // for bg color
 }

 ion-nav-buttons.ion-navicon{
 	font-size: 50px !important;
 }